<phpunit colors="true" strict="true" verbose="true">
  <testsuites>
    <testsuite name="CacheDisk">
      <file>tests/test_cache_disk.php</file>
    </testsuite>
    <testsuite name="CacheMemcache">
      <file>tests/test_cache_memcache.php</file>
    </testsuite>
    <testsuite name="CacheRedis">
      <file>tests/test_cache_redis.php</file>
    </testsuite>
    <testsuite name="SessionsRedis">
      <file>tests/test_sessions_redis.php</file>
    </testsuite>
    <testsuite name="SessionsMemcache">
      <file>tests/test_sessions_memcache.php</file>
    </testsuite>
  </testsuites>
</phpunit>
