<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true" strict="false" verbose="true">
  <php>
    <var name="DSN" value="utf8://root@localhost:3306/dalmp" />
    <var name="DSN_memcache" value="utf8://root@localhost:3306/dalmp?memcache" />
    <var name="DSN_redis" value="utf8://root@localhost:3306/dalmp?redis" />
    <var name="DSN_disk" value="utf8://root@localhost:3306/dalmp?disk" />
  </php>
  <testsuites>
    <testsuite name="CacheDisk">
      <file>tests/test_cache_disk.php</file>
    </testsuite>
    <testsuite name="CacheMemcache">
      <file>tests/test_cache_memcache.php</file>
    </testsuite>
    <testsuite name="CacheRedis">
      <file>tests/test_cache_redis.php</file>
    </testsuite>
    <testsuite name="SessionsRedis">
      <file>tests/test_sessions_redis.php</file>
    </testsuite>
    <testsuite name="SessionsMemcache">
      <file>tests/test_sessions_memcache.php</file>
    </testsuite>
    <testsuite name="SessionsMySQL">
      <file>tests/test_sessions_mysql.php</file>
    </testsuite>
  </testsuites>
</phpunit>
